body{
    background-color: #202A44;
}

.heading{
    color: aliceblue;
}

.btn{
    color:aliceblue;
    margin:2px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#new-array{
   margin-left: 0;
}


