body{
    background-color: #E0FFFF;
}

#header{
    background-color: #2E8B57;
    color: #FFEFD5;
    text-align: center;
}

#AlgorithmSpecificControls{
    display: flex;
    justify-content: center;
}



